.board {
    & {
        width: 900px;
        height: 600px;
        position: relative;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(180deg, #63390f 0%, #4e2905 8%);
        border-radius: 20px;
        border: 4px #a87123 solid;
    }

    &__name {
        margin-left: 24px;
        margin-top: 8px;
        color: #fff;
        font: 20px Arial;
    }

    &__btn-exit {
        margin-top: 8px;
        margin-right: 8px;
        width: 51px;
        height: 28px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75);
        border-radius: 6px;
        overflow: hidden;
    }

    &__board-padding {
        & {
            width: 880px;
            height: 530px;
            margin-left: 10px;
            margin-top: 10px;
            background: linear-gradient(180deg, #dcab55 0%, #945f02 86%);
            border-radius: 10px;
        }

        &__content {
            width: 870px;
            height: 510px;
            margin-top: 10px;
            margin-left: 5px;
            background: #a97739;
            border-radius: 4px;
            border: 1px black solid;
        }
    }
}

.model {
    width: 100%;
    height: 100%;
    background-color: #00000070;
    &-confirm {
        min-width: 300px;
        min-height: 100px;
        flex-direction: column;
        padding: 30px 50px;
        top: -10%;
        margin: auto;
        background: linear-gradient(180deg, #c0ff02 0%, #054c9e 4%, #1180ff 70%);
        box-shadow: 0 2px 8px #000;

        &__text {
            color: #f3f4c3;
            line-height: 1.6;
            font-size: 18px;
            font-weight: 500;
        }

        &__list-btn {
            margin-top: 30px;
            justify-content: space-around;

            & > * {
                font-size: 16px;
                padding: 6px 34px;
                border-radius: 4px;
                border: none;
                color: #fff2b8;

                &:hover {
                    box-shadow: 0 0 4px #fabfbf;
                }

                & > span {
                    font-weight: 700;
                }
            }
            & > *:first-child {
                color: #686a04;
                background: linear-gradient(180deg, #d8d100 90%, #f3f4c3 100%);
            }

            & > *:last-child {
                background: linear-gradient(180deg, #d86800 90%, #f3f4c3 100%);
            }
        }
    }
}
