.prepareDuel {
    &__listPlayer {
        & {
            width: 718px;
            height: 482px;
            margin: 5px;
            margin-right: 10px;
            padding: 10px;
            border-radius: 16px;
            overflow: hidden;
            border: 4px black solid;
            flex-wrap: wrap;
        }

        &__team__background {
            width: 100%;
            height: calc(100% - 18px);
            flex-wrap: wrap;
            padding-right: 20px;
            row-gap: 2px;
            overflow: hidden;
        }

        &__team__container {
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            row-gap: 2px;
            column-gap: 8px;
        }

        &__player {
            & {
                width: 224px;
                height: 226px;
                padding-bottom: 6px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                overflow: hidden;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            &__header {
                align-self: stretch;
                height: 30px;
                padding-top: 1px;
                padding-bottom: 2px;
                padding-left: 10px;
                padding-right: 10px;
                justify-content: space-between;
                align-items: center;
            }
            &__header-name {
                width: 70%;
                color: #f6d738;
                font-size: 18px;
                font-family: Inter;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__header-icon {
                width: 26px;
                height: 26px;
                color: #fff;
                border: 1px #ccc solid;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
            }

            &__body {
                width: 204px;
                height: 190px;
                position: relative;
                background: #f6dcac;
                border-radius: 10px;
            }
        }
    }

    &__background-screen {
        & {
            width: 374px;
            height: 482px;
            padding: 10px;
            margin-top: 5px;
            margin-right: 10px;
            background: #643a1c;
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__body {
            width: 354px;
            height: 462px;
            align-self: stretch;
            flex: 1 1 0;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__img {
                width: 387px;
                height: 462px;
            }
        }
    }

    &__items {
        width: 338px;
        height: 482px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        background: #ce9d45;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;
        border: 4px black solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__header {
            width: 100%;
            height: 27px;
            &__text {
                // color: #034684;
                font-size: 18px;
                font-family: Inter;
                text-align: start;
                font-weight: 700;
                word-wrap: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &__map {
        & {
            width: 374px;
            height: 90px;
            margin-left: 10px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 10px;
            background: #02c774e6;
            box-shadow: 0px 4px 20px #0bff06cc, 0 0 30px #0bff0680 inset;
            border-radius: 5px;
            overflow: hidden;
            justify-content: space-between;
            align-items: start;
        }

        &__text {
            color: #b6eb45;
            text-shadow: 0 1px 6px #000;
            font-size: 22px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
        }

        &__icon {
            font-size: 26px;
            color: #3a3a3a;
        }
    }

    &__btn-func {
        & {
            margin-top: 10px;
            margin-left: auto;
        }

        &__invite {
            & {
                width: 200px;
                height: 50px;
                margin-right: 10px;
                background: linear-gradient(180deg, #00e8e8 13.34%, rgba(101, 255, 181, 0) 162.11%);

                justify-content: center;
                align-items: center;
                // -webkit-background-clip: text;
                // background-clip: text;
                // -webkit-text-fill-color: transparent;
            }

            &__icon {
                top: 14px;
                left: 10px;
                rotate: -20deg;
                font-size: 40px;
                background: -webkit-linear-gradient(red, #333);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &__text {
                color: #fff;
                font-weight: bold;
                font-size: 22px;
            }
        }

        &__start {
            width: 200px;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(
                180deg,
                #e8b500 13.34%,
                rgba(255, 221, 101, 0) 162.11%
            );
            color: #6a6fe3;
            font-size: 22px;
        }

        &__destroy {
            width: 200px;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(
                180deg,
                #e73838 13.34%,
                rgba(255, 221, 101, 0) 162.11%
            );
            color: #6a6fe3;
            font-size: 22px;
        }
    }
}
