.prepareDuel {
    &__listPlayer {
        & {
            width: 718px;
            height: 482px;
            margin: 5px;
            margin-right: 10px;
            padding: 10px;
            border-radius: 16px;
            overflow: hidden;
            border: 4px black solid;
            flex-wrap: wrap;
        }

        &__team__background {
            width: 100%;
            height: calc(100% - 18px);
            flex-wrap: wrap;
            padding-right: 20px;
            row-gap: 2px;
            overflow: hidden;
        }

        &__team__container {
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            row-gap: 2px;
            column-gap: 8px;
        }

        &__player {
            & {
                width: 224px;
                height: 226px;
                padding-bottom: 6px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                overflow: hidden;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            &__header {
                align-self: stretch;
                height: 30px;
                padding-top: 1px;
                padding-bottom: 2px;
                padding-left: 10px;
                padding-right: 119px;
                justify-content: flex-start;
                align-items: center;
            }
            &__header-name {
                width: 70%;
                color: #f6d738;
                font-size: 18px;
                font-family: Inter;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__body {
                width: 204px;
                height: 190px;
                position: relative;
                background: #f7e7c9;
                border-radius: 10px;
            }
        }
    }

    &__background-screen {
        & {
            width: 374px;
            height: 482px;
            padding: 10px;
            margin-top: 5px;
            margin-right: 10px;
            background: #643a1c;
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__body {
            width: 354px;
            height: 462px;
            align-self: stretch;
            flex: 1 1 0;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__img {
                width: 387px;
                height: 462px;
            }
        }
    }

    &__items {
        width: 338px;
        height: 482px;
        padding-top: 10px;
        padding-bottom: 445px;
        padding-left: 16px;
        padding-right: 148px;
        background: #ce9d45;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;
        border: 4px black solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__header {
            width: 100%;
            height: 27px;
            &__text {
                // color: #034684;
                font-size: 18px;
                font-family: Inter;
                text-align: start;
                font-weight: 700;
                word-wrap: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &__chat {
        & {
            width: 722px;
            height: 224px;
            background: rgba(0, 0, 0, 0.3);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            overflow: hidden;
        }
        &__header {
            & {
                align-self: stretch;
                height: 40px;
                padding-right: 412px;
                background: rgba(0, 0, 0, 0.3);
                justify-content: flex-start;
                align-items: flex-start;
                gap: 5px;
            }

            &__btn {
                & {
                    width: 100px;
                    align-self: stretch;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    font-size: 20px;
                    font-family: Inter;
                    font-weight: 700;
                    word-wrap: break-word;
                    text-shadow: 1px 1px 10px #a1621b, -1px 1px 10px #a1621b, 1px -1px 10px #a1621b,
                        -1px -1px 10px #a1621b, 1px 1px 10px #a1621b, -1px 1px 10px #a1621b,
                        1px -1px 10px #a1621b, -1px -1px 10px #a1621b, 1px 1px 10px #a1621b,
                        -1px 1px 10px #a1621b, 1px -1px 10px #a1621b, -1px -1px 10px #a1621b;
                }
                &--public {
                    & {
                        background: #0e8bb3;
                    }

                    &__text {
                        color: #efd5d5;
                    }
                }
                &--room {
                    & {
                        background: #c5af3e;
                    }

                    &__text {
                        color: #efd5d5;
                    }
                }
                &--private {
                    & {
                        background: #6a1aa9;
                    }

                    &__text {
                        color: #efd5d5;
                    }
                }
            }
        }

        &__body-wrapper {
            & {
                height: 143px;
                overflow-y: auto;
                flex-direction: column-reverse;
            }

            &__container {
                & {
                    // height: 143px;
                    background: rgba(0, 0, 0, 0.1);
                    flex-direction: column;
                    // justify-content: end;
                    align-items: start;
                    // overflow-y: scroll;
                }
                &__message {
                    & {
                        align-self: stretch;
                        // height: 32px;
                        padding-top: 6px;
                        padding-bottom: 2px;
                        padding-left: 14px;
                        padding-right: 6px;
                        // border: 1px black solid;
                        justify-content: flex-start;
                        align-items: start;
                        gap: 8px;
                    }

                    &__area {
                        & {
                            font-size: 16px;
                            line-height: 1.6;
                            font-family: Inter;
                            font-weight: 700;
                            word-wrap: break-word;
                            color: #6a1aa9;
                        }

                        &--public {
                            color: #0e8bb3;
                        }

                        &--room {
                            color: #c5af3e;
                        }
                    }

                    &__block {
                        & {
                            font-size: 16px;
                            line-height: 1.6;
                            font-family: Inter;
                            font-weight: 700;
                            margin-right: 4px;
                            word-break: break-all;
                        }
                        &__from {
                            color: #d964b8;
                        }

                        &__text {
                            color: #cdcbcb;
                        }
                    }
                }
            }
        }

        &__footer {
            & {
                width: 100%;
                height: 40px;
                background: rgba(0, 0, 0, 0.3);
                justify-content: start;
                align-items: center;
            }
            &__location {
                & {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background: #2b2b2b;
                    border-radius: 6px;
                    overflow: hidden;
                    border: 6px #857833 solid;
                    justify-content: center;
                    align-items: center;
                }

                &__text {
                    color: white;
                    font-size: 16px;
                    font-family: Inter;
                    font-weight: 700;
                    word-wrap: break-word;
                }
            }

            &__input-container {
                & {
                    width: 542px;
                    height: 100%;
                    padding-left: 10px;
                    padding-right: 1px;
                    background: #3b3a3a;
                    border-radius: 3px;
                    overflow: hidden;
                    border: 1px #672a2a solid;
                    // justify-content: space-around;
                    align-items: center;
                    gap: 2px;
                }

                &__input {
                    width: 100%;
                    height: 100%;
                    background: #ffffff00;
                    color: #fff;
                    font-size: 16px;
                    font-family: Inter;
                    font-weight: 700;
                    outline: none;
                    border: none;
                    border-right: 1px solid #969595;
                    padding-left: 10px;
                }

                &__btn-send {
                    & {
                        width: 48px;
                        height: 40px;
                        position: relative;
                        background: #0066ff;
                        box-shadow: 1px 1px 1px;
                        filter: blur(1px);
                        justify-content: center;
                        align-items: center;
                    }

                    &__icon {
                        // width: 39.18px;
                        // height: 40px;
                        font-size: 34px;
                        color: #000;
                        // background-color: #fff;
                    }
                }
            }

            &__func {
                & {
                    flex: 1;
                    padding-left: 10px;
                    justify-content: space-around;
                    align-items: center;
                }

                &__friend {
                    font-size: 27px;
                    align-self: stretch;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    padding-left: 3px;
                    padding-right: 3px;
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 20px;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    color: #55e000;
                }

                &__icon {
                    align-self: stretch;
                    font-size: 32px;
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 10px;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;

                    &:first-child {
                        color: #fff;
                    }
                }
            }
        }
    }

    &__map {
        & {
            width: 374px;
            height: 90px;
            margin-left: 10px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 10px;
            background: #02c774e6;
            box-shadow: 0px 4px 20px #0bff06cc, 0 0 30px #0bff0680 inset;
            border-radius: 5px;
            overflow: hidden;
            justify-content: space-between;
            align-items: start;
        }

        &__text {
            color: #b6eb45;
            text-shadow: 0 1px 6px #000;
            font-size: 22px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
        }

        &__icon {
            font-size: 26px;
            color: #3a3a3a;
        }
    }

    &__btn-func {
        & {
            margin-top: 10px;
            margin-left: auto;
        }

        &__invite {
            & {
                width: 200px;
                height: 50px;
                margin-right: 10px;
                background: linear-gradient(180deg, #00e8e8 13.34%, rgba(101, 255, 181, 0) 162.11%);

                justify-content: center;
                align-items: center;
                // -webkit-background-clip: text;
                // background-clip: text;
                // -webkit-text-fill-color: transparent;
            }

            &__icon {
                top: 14px;
                left: 10px;
                rotate: -20deg;
                font-size: 40px;
                background: -webkit-linear-gradient(red, #333);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &__text {
                color: #fff;
                font-weight: bold;
                font-size: 22px;
            }
        }

        &__start {
            width: 200px;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(
                180deg,
                #e8b500 13.34%,
                rgba(255, 221, 101, 0) 162.11%
            );
            color: #6a6fe3;
            font-size: 22px;
        }
    }
}
