.listPlayer {
    width: 718px;
    height: 482px;
    margin: 5px;
    padding: 10px;
    border-radius: 16px;
    overflow: hidden;
    border: 4px black solid;
    flex-wrap: wrap;
}

.listPlayer__team {
    width: 692px;
    height: 231px;
    padding-bottom: 4px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.player {
    width: 224px;
    height: 226px;
    padding-bottom: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.player__header {
    align-self: stretch;
    height: 30px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 119px;
    justify-content: flex-start;
    align-items: center;
}

.player__header-name {
    color: #f6d738;
    font-size: 22px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}
