#app {
    margin: 0 auto;
    font-weight: normal;
}

#game {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff60;
}

.btn-func {
    z-index: var(--z-index-btn) !important;
}

.btn-30 {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-50 {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.rounded-circle {
    border-radius: 50%;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-normal {
    justify-content: space-between;
    align-content: start;
    align-items: center;
}

.position-fixed {
    position: fixed !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.top-auto {
    top: auto !important;
}

.left-auto {
    left: auto !important;
}

.box-func {
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%) !important;
}

::placeholder {
    color: #fff;
}

.pad {
    flex: 1 1 0%;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
    border-radius: 50%;
}

.scrollbar::-webkit-scrollbar-track {
    background: #ffffff69;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #5d9cf1;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5d9cf8;
}

.toast-component {
    position: absolute;
    top: 0px;
    right: 100px;
    z-index: 9999999999999999;
}

.toast-item {
    display: flex;
    min-width: 300px;
    max-width: 500px;
    font-size: 18px;
    margin-top: 2px;
    padding: 4px 10px;
    border-radius: 3px;
    background-color: #c6c4c464;

    animation-name: remove-toast;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.toast-icon {
    width: 20px;
}

.toast-info {
    /* background-color: rgb(182, 253, 229); */
    color: #0ba70e;
}
.toast-warn {
    /* background-color: #ecf56e; */
    color: #869015;
}
.toast-error {
    /* background-color: #f86464; */
    color: #d30000;
}

/* key animation */
@keyframes remove-toast {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}
